:root{
    --cor-primaria:#;
    --cor-primaria-escura:#;
    --cor-bg:#f5f7fa;
    --cor-branco:#fff;
    --cor-borda:#ddd;
    --cor-sombra:rgba();
    --cor-texto:#;

    --raio:#;
    --trasition:#;
}